* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

:root {
  --background-primaryColor: #d9d4c0;
  --primary-color: rgb(255, 255, 255);
  --primary-font: sans-serif;
}

html,
body {
  height: 100%;
  font-family: var(--primary-font);
  background-color: var(--background-primaryColor);
  color: var(--primary-color);
}
