.sidebar {
  display: flex;
  flex-direction: column;
  height: 100vh;
  width: 280px;
  padding: 1rem;
}

.dashboard {
  margin-left: 2rem;
  height: 60px;
  width: 180px;
  border-radius: 20px;
  background-color: #30cf96;
  color: rgb(255, 255, 255);
}
