@import 'tailwindcss';
@custom-variant dark (&:where(.dark, .dark *));

.main-grid {
  display: grid;
  grid-template-columns: 300px 1fr;
  height: 100vh;
  width: 100%;
}

/* LEFT SIDEBAR */
.left-grid {
  height: 100%;
  overflow-y: auto;
}

/* MAIN CONTENT */
.right-grid {
  height: 100%;
  overflow-y: auto;
}

/* =====================
   TABLET (<= 900px)
===================== */
@media (max-width: 800px) {
  .main-grid {
    grid-template-columns: 240px 1fr;
  }
}

/* =====================
   MOBILE (<= 640px)
===================== */
@media (max-width: 640px) {
  .main-grid {
    grid-template-columns: 1fr;
    grid-template-rows: auto 1fr;
  }

  .left-grid {
    height: auto;
    max-height: 60vh;
  }
}
