@import 'tailwindcss';

.main-grid {
  display: grid !important;
  grid-template-columns: 300px 1fr !important;
  height: 100vh;
  width: 100%;
}

.left-grid {
  height: 100%;
  overflow-y: auto;
}

.right-grid {
  height: 100%;
  overflow-y: auto;
}
