.bottom-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
  grid-template-areas:
    'box-1 box-1 box-2 box-2'
    'box-3 box-3 box-3 box-4';
}

.box {
  background-color: rgb(255, 255, 255);
  border-radius: 12px;
}
