.top-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: auto;
  gap: 1rem;
  grid-template-areas:
    'box-1 box-2 box-3 box-4'
    'box-5  box-6 box-3 box-4';
}

.box {
  background-color: rgb(255, 255, 255);
  color: rgba(0, 0, 0, 0.699);
  border-radius: 12px;
  box-shadow: 10px 10px 10px rgba(159, 162, 167, 0.381);
}
