.top-grid {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-rows: 230px;
  gap: 1rem;
  grid-template-areas:
    'box-1 box-2 box-3 box-4'
    'box-5  box-6 box-3 box-4';
}

.box {
  background-color: red;
  border-radius: 12px;
}
